<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :buyer %>
    <%= form.text_field :buyer, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :unit_price %>
    <%= form.number_field :unit_price, class: "form-control", step: :any %>
  </div>

  <div class="field form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :provider %>
    <%= select :transaction, :provider_id, options_from_collection_for_select(Provider.all,:id,:name), {}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Back', transactions_path, class: "btn btn-link" %>
  </div>
<% end %>